*{
    color: white;
}

.containerGame{
    border: 1px solid black;
    border-radius: 10px;
    min-height: 88vh;
    margin-top: 20px !important;
    background-color: cornflowerblue;
}

.containerPlayerTurn{
    /* gap: 120px; */
    background-color: white;
    margin: 5% 10px;
    min-height: 25vh;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.header{
    text-align: center;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.questionToShow{
    text-align: center;
    font-size: 37px;
}

.answerContainer{
    border: 1px solid black;
    text-align: center;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: black 0 0 10px;
    background-color: blue;
    min-height: 110px;
    width: 250px;
    color: white;
}

.answerContainer:hover{
    background-color: orangered;
}

.winnerContainer{
    z-index: 1000;
    background-color: blue;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    width: 50%;
    min-height: 50vh;
    margin: auto;   
    position: absolute;
    top: 20vh;
    left: 24%;
}

.winnerContainer h2{
    color: white;
}

.headerWinner{
    text-align: center;
    font-size: 80px;
}

.winnerContentContainer{
    width: 40%;
    height: 40vh;
    border: 2px solid white;
    border-radius: 10px;
}

.h2WinnerContent{
    font-weight: bolder;
    font-size: xx-larger;
    text-align: center;
    margin-top: 4.5rem;
    margin-bottom: 2rem;
}

.btn-outline-secondary{
    background-color: white;
    color: orangered;
    font-weight: bold;
    font-size: large;
    border: 1px solid orangered;
}

.btn-outline-secondary:hover{
    background-color: orangered;
    color: white;
    border: 1px solid whitesmoke;
}

.actualQuestion{
    margin-bottom: 2rem;
}

.alertIncorrectAnswer{
    position: absolute;
    left: 35%;
    top: 20vh;
    height: 30vh;
    width: 30vw;
    border: 1px solid white;
    border-radius: 10px;
    background-color: red;
    color: white;
}

.h2IncorrectAnswer{
    text-align: center;
    margin-top: 2rem;
}

.buttonHandlerAlert{
    position: absolute;
    left: 41%;
    top: 20vh;
    color: red;
    font-weight: bold;
    background-color: white;
}

.buttonHandlerAlert:hover{
    background-color: red;
    color: white;
    border: 1px solid white;
}

.answers{
    position: absolute;
    top: 65vh;
    left: 11vw;
}